<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AuthDb"
			 connectionString="Server=JUJA080731;Database=AuthDB;Trusted_Connection=True;Trust Server Certificate=True;"
			 providerName="System.Data.SqlClient" />
		<add name="MediaDb"
			 connectionString="Server=JUJA080731;Database=MediaDB;Trusted_Connection=True;Trust Server Certificate=True;"
			 providerName="System.Data.SqlClient" />
		<add name="MasterDb"
			 connectionString="Server=JUJA080731;Database=MasterDB;Trusted_Connection=True;Trust Server Certificate=True;"
			 providerName="System.Data.SqlClient" />
		<add name="TransactionDb"
			 connectionString="Server=JUJA080731;Database=TransactionDB;Trusted_Connection=True;Trust Server Certificate=True;"
			 providerName="System.Data.SqlClient" />
		<add name="AuditDb"
			 connectionString="Server=JUJA080731;Database=AuditDB;Trusted_Connection=True;Trust Server Certificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="LogLevel" value="Information" />
	</appSettings>
</configuration>